.footer {
  padding: 65px 0;
  background-image: url(../image/footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &__txt {
    padding: 0;
    margin: 0;
    font-family: $main-font;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    text-transform: capitalize;
    color: $light;
  }
}
